html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* General CSS */
.icon{
  overflow: visible
}

/* Layout */

header{
  background:#3A506B;
  color:#fff;
  text-align:center;
}
  /* GRID CSS */
/* Header */
.user-links{
  display:flex;
  align-items: center;
  justify-content: center;
}
.user-links .icon{
  border-right:1px solid #1C2541;
  width:50px;
  height:25px;
  margin-right:10px;
}
.user--image{
  border-radius:50%;
  height:auto;
  width:30px;
}


/* Media Queries */
@media (min-width:1024px){

}

@media (min-width:768px){
  
}
