html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* General CSS */
.icon{
  overflow: visible
}
.d-flex{
  display:flex;
  align-items: center;
}
body{
  font-family: 'Lato', sans-serif;
  --main-bg-color: #0B132B;
  --secondary-bg-color:#3A506B;
  --highlight-color:#5BC0BE;
  z-index:1;
  background:#fff;
}
/* Layout */

header{
  background:var(--secondary-bg-color);
  grid-area:header;
  grid-column-start:1;
  grid-column-end:-1;
  text-align:center;
}

#sidebar{
grid-area:sidebar;
grid-row-start:2;
grid-row-end:-1;
}

main{
grid-area:main;
}


  /* GRID CSS */
  .container{
    display:grid;
    margin:0 auto;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar main";
    grid-template-rows:130px auto;
    grid-template-columns:70px auto; 
    position: relative;
    top: -21px;
  }

    /* Main Content */
    .main-content-wrapper{
    max-width: 1200px;
    margin:0 auto;
    }
/* Header */

.main-nav{
padding:5px 10px;
}
.title{
  color:#fff;
  font-family: 'Righteous', cursive;
  text-shadow: 0px 0px 3px var(--main-bg-color);
  font-weight: 200;
}
.user-links{
  display:flex;
  align-items: center;
  justify-content: center;
}
.user-links .icon{
  border-right:1px solid #1C2541;
  color:#fff;
  width:50px;
  height:35px;
  padding-right:25px;
  margin-right:10px;
}
.user--image{
  border-radius:50%;
  height:auto;
  margin-right:10px;
  width:30px;
}

.user--name{
  font-family: 'Poiret One', cursive;
  color:var(--highlight-color);
}

/* Sidebar */
#sidebar{
  width:70px;
  background:var(--main-bg-color);
  flex-direction: column;
}

.sidebar-icons{
  width:25px;
  height:25px;
}

.active-icon{
  color:#fff;
}
.active-icon rect{
color:var(--highlight-color);
}
#sidebar svg:first-child{
  margin-top:25px;
  }
#sidebar svg:not(:first-child){
  margin-top:30px;
  color:#3A506B;

}

/* TOP */
#top{
  align-items: center;
  background-color: #f1f1f1;
  border:1px solid #ccc;
  height:40px;
  justify-content: space-between;
}
.top-title{
  background:#fff;
  border-right:1px solid #ccc;
  font-family: 'Poiret one', sans-serif;
  cursor:pointer;
  font-size:1.1em;
  padding: 10px 16px;
}
.searchbox{
border-radius:5px;
background: #fff url('../svg/search.svg') right 11px center no-repeat;
background-size:10px;
max-width:225px;
margin-right:10px;
width: 50%;
border:#ccc 1px solid;
}

::placeholder{
  color:#ccc;
  font-size:11px;
  padding-left:10px;
}

/* Demo Alert CSS */

.alert{
  background:var(--highlight-color);
  color:#fff;
  border-radius:5px;
  justify-content: space-between;
  margin:0 auto;
  padding:9px 5px;
  width:95%;
}
.alert p:not(b){
  font-size:.70em;
}
.cancel{
  cursor:pointer;
  color:#fff;
  margin-right:.5em;
  fill:currentColor;
  transition:color ease-out .2s;
}
.cancel:hover{
  color:#000;
}

/* Media Queries */
@media (min-width:1024px){

}

@media (min-width:768px){

}

@media(min-width:512px){
  .container{
    top: 0px;
    grid-template-rows:75px auto !important; 
  }

  .main-nav{
    align-items: center;
    display: flex;
  padding-top:20px;
  justify-content:space-between;
  }

  .title{
    margin:0 !important;
  }
}
