html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

/* General CSS */
.icon {
	overflow: visible;
}
.d-flex {
	display: flex;
	align-items: center;
}
body {
	font-family: 'Lato', sans-serif;
	--main-bg-color: #0b132b;
	--secondary-bg-color: #3a506b;
	--highlight-color: #5bc0be;
	z-index: 1;
	background: #fff;
	color: rgb(146, 146, 146);
}
.heading {
	margin-left: 15px;
	color: #000;
}
.pt-1half {
	padding-top: 1.5em;
}
.pb-2 {
	padding-bottom: 2em;
}
.col-md-2{
  width: 50%;
}
/* Layout */

/* GRID CSS */
.container {
	box-sizing: border-box;
	display: -ms-grid;
	display: grid;

	grid-template-areas:
		'header header'
		'sidebar main';
	grid-template-columns: 70px 1fr;
	-ms-grid-columns: 70px 1fr;
	grid-template-rows: 150px 1fr;
  -ms-grid-rows: 150px 1fr;
  overflow:none;
}
header {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-row: 1;
	grid-column: 1;
	grid-row-start: 1;
	background: var(--secondary-bg-color);
	background: #3a506b;
	grid-area: header;
  text-align: center;

}

#sidebar {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-row: 2;
	grid-column: 1;
  grid-area: sidebar;
  min-height: 100vh;
}

main {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
	grid-row: 2;
	grid-column: 2;
	grid-area: main;
}

/* Main Content */
.main-content-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
/* Header */

.main-nav {
	padding: 5px 10px;
}
.title {
	color: #fff;
	font-family: 'Righteous', cursive;
	text-shadow: 0px 0px 3px #1c2541;
	font-weight: 200;
}
.user-links {
	display: flex;
	align-items: center;
	justify-content: center;
}
.user-links .icon {
	border-right: 1px solid #1c2541;
	color: #fff;
	width: 50px;
	height: 35px;
	padding-right: 25px;
	margin-right: 10px;
}
.user--image {
	border-radius: 50%;
	height: auto;
	margin-right: 10px;
	width: 30px;
}

.user--name {
	font-family: 'Poiret One', cursive;
	color: #5bc0be;
	color: var(--highlight-color);
}

/* Sidebar */
#sidebar {
	width: 70px;
	background: var(--main-bg-color);
	background: #0b132b;
	flex-direction: column;
}

.sidebar-icons {
	width: 25px;
	height: 25px;
}

.active-icon {
	color: #fff;
}
.active-icon rect {
	color: #5bc0be;
	color: var(--highlight-color);
}
#sidebar svg{
  cursor:pointer;
  transition:ease-out .2s;
}
#sidebar svg:first-child {
	margin-top: 25px;
}
#sidebar svg:not(:first-child) {
	margin-top: 30px;
	color: #3a506b;
}
#sidebar svg:hover{
  color:#5bc0be;
}

/* TOP */
#top {
	align-items: center;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	height: 40px;
	justify-content: space-between;
}
.top-title {
	background: #fff;
	border-right: 1px solid #ccc;
	font-family: 'Poiret one', sans-serif;
	cursor: pointer;
	font-size: 1.1em;
	padding: 10px 16px;
}
.searchbox {
	border-radius: 5px;
	background: #fff url('../svg/search.svg') right 11px center no-repeat;
	background-size: 10px;
	max-width: 225px;
	margin-left: 5px;
	margin-right: 10px;
	width: 50%;
	border: #ccc 1px solid;
}

::placeholder {
	color: #ccc;
	font-size: 11px;
	padding-left: 10px;
}
/* Demo Alert CSS */

.alert {
	background: var(--main-bg-color);
	background: #3a506b;
	color: #fff;
	border-radius: 5px;
	justify-content: space-between;
	margin: 25px auto 0 auto;
	padding: 9px 5px;
	width: 95%;
}
.alert p:not(b) {
	font-size: 0.7em;
}
.cancel {
	cursor: pointer;
	color: #fff;
	margin: 0 0.5em;
	fill: currentColor;
	transition: color ease-out 0.2s;
}
.cancel:hover {
	color: #000;
}
.bell {
	cursor: pointer;
	color: #fff;
}
.bell-icon {
	transform-origin: 50% 50%;
	transition: color ease-out 0.2s;
}
.bell:hover .bell-icon {
	color: var(--highlight-color);
	color: #5bc0be;
}

/* Chart styles */
.chart-container {
	width: 95%;
	margin: 25px auto 0 auto;
}
.chart-container h4 {
	color: #1c2541;
}
.chart-container canvas {
	margin: 0 auto;
  margin-top: 30px;
  width:90%!important;
  height:auto;
 
}
/* LineChart */

#web-traffic {
	border-bottom: 1px #ccc solid;
}
#lineChart {
	height: auto;
	max-width: 900px;
}
.lineChart-labels {
  justify-content: space-between;
  flex-wrap:wrap;
}
.time-options {
  list-style-type: none;
  margin-top:25px;
  font-size:.8em;
}
.time-options li{
  cursor:pointer
}
.time-options li:not(:last-child) {
	margin-right: 1.5em;
}

.active {
	background: #5bc0be;
	color: white;
	padding: 5px;
	border-radius: 25px;
}

/* Pie and Bar */
#mobile-users,
#daily-traffic {
  border-bottom: 1px solid #ccc;
  width:100%;
}
#daily-traffic {
	border-left: 1px solid #ccc;
}
.bar-and-pie {
	flex-direction: column;
	align-items: initial;
}

/* Social */
#social-stats{
  border-bottom:1px #ccc solid;
}
.social-container svg {
  color: #fff;
  margin: 0 15px;
  transition:.2s ease-out;
  width:40px;
}
.social-container {
  flex-direction: column;
  justify-content: space-between;
  margin:0 auto;
  width:95%;
}

div[class^='social-stats'] {
  background:rgb(241, 240, 240);
  border: 1px #ccc solid;
  border-radius:5px;
  color: #1c2541;
  padding: 15px 10px;
  height:100px;
  min-width:220px;
  max-width:275px;
  margin-bottom:25px;
  flex: 0 0 auto; /*added*/
}

.stats-text {
	flex-direction: column;
	align-items: flex-start;
	align-content: space-between;
}
.stats-text h3 {
  margin-bottom: 5px;
  color:#3a506b;
}
.stats-text span{
  font-size:2em;
}
/* Media Queries */
@media (min-width: 1024px) {
  
}

@media (min-width: 768px) {
	#mobile-users,
	#daily-traffic {
		width: 50%;
		border-bottom: 0;
	}
	.bar-and-pie {
		flex-direction: row;
		align-items: center;
		border-bottom: 1px solid #ccc;
	}

	#daily-traffic {
		border-left: 0;
	}
	#mobile-users {
		border-left: 1px solid #ccc;
	}
/* Social */
 .social-container {
		flex-direction: row;
  }
  div[class^='social-stats'] {

  width: 25%!important;
  }
}
@media (min-width: 512px) {
	.container {
		grid-template-rows: 75px 1fr !important;
		-ms-grid-rows: 75px 1fr !important;
	}

	.main-nav {
		align-items: center;
		display: flex;
		padding-top: 20px;
		justify-content: space-between;
	}

	.title {
		margin: 0;
	}
}

@media (min-width: 400px){
  .time-options{
    margin-top:0;
  }
}