html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* General CSS */
.icon{
  overflow: visible
}

/* Layout */

header{
  background:#3A506B;
  grid-area:header;
  grid-row-start:1;
  grid-row-end:-1;
  text-align:center;
}

#sidebar{
grid-area:sidebar;
}

main{
grid-area:main;
}


  /* GRID CSS */
  .container{
    display:grid;
    margin:0 auto;
    grid-template-areas:"header header" "sidebar main" "sidebar main";
    position: relative;
    top: -21px;
  }
/* Header */

.main-nav{
padding:5px 10px;
}
.title{
  color:#fff;
  font-family: 'Righteous', cursive;
  text-shadow: 0px 0px 3px #0B132B;
  font-weight: 200;
}
.user-links{
  display:flex;
  align-items: center;
  justify-content: center;
}
.user-links .icon{
  border-right:1px solid #1C2541;
  width:50px;
  height:25px;
  margin-right:10px;
}
.user--image{
  border-radius:50%;
  height:auto;
  margin-right:10px;
  width:30px;
}

.user--name{
  font-family: 'Poiret One', cursive;
  color:#5BC0BE;
}



/* Media Queries */
@media (min-width:1024px){

}

@media (min-width:768px){

}

@media(min-width:512px){
  .container{
    top: 0px;
  }

  .main-nav{
    align-items: center;
    display: flex;
  justify-content: space-between;
  }

  .title{
    margin:0 !important;
  }
}
